<div class="row justify-content-center">
    <div class="col-md-12 col-sm-12">
        <div class="card shadow-lg border-0 rounded-lg mt-5 mx-auto">
            <h3 class="card-header display-1 text-muted text-center">
                404
            </h3>

            <span class="card-subtitle mb-2 text-muted text-center">
                Page Not Found 
            </span>

            <div class="card-body mx-auto">
                <a type="button" [routerLink]="['/home']" routerLinkActive="router-link-active" 
                class="btn btn-sm btn-primary text-white"> Back To Home </a>
            </div>
        </div>
    </div>
</div>